{% extends 'layup/form_base.html' %}
{% load add_css %}

{% block title %} - Create League{% endblock %}

{% block body %}
    <form class="form-signin" fole="form" id="player_form" method="post" action={% url 'layup:create_league' %}>
        <h2 class="form-signin-heading">Create League</h2>
        {% csrf_token %}
        {% for field in league_form %}
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field|addcss:"form-control" }}
        <br>
        {% endfor %}
        <input type="number" class="form-control" name="teams" placeholder="Number of Teams"  size="5" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
{% endblock %}
