{% extends 'layup/base.html' %}

{% block title %}{% endblock %}

{% block body_title %}
    {% if user.is_authenticated %}
    <h1>Welcome {{ user.username }} here are the Leagues!</h1>
    {% else %}
    <h1>Welcome to Layup here are the Leagues!</h1>
    {% endif %}
{% endblock %}

{% block body %}
    {% if leagues %}
    <ul>
        {% for league in leagues %}
        <li><a href="{% url 'layup:league' league.url %}">{{ league.name }}</a></li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}
