{% extends 'layup/form_base.html' %}

{% block title %} - Login{% endblock %}

{% block body %}
    <form class="form-signin" fole="form" id="login_form" method="post" action={% url 'layup:login' %}>
        <h2 class="form-signin-heading">Login to Layup</h2>
        {% csrf_token %}
        <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
        <br>
        <input type="password" class="form-control" name="password" placeholder="Password" required>
        <br>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    </form>
{% endblock %}
