{% extends 'layup/base.html' %}

{% block title %} - {{ player.user.username }}{% endblock %}

{% block body %}
    <h1>{{ player.user.username }}</h1>
    <ul>
        <li>First Name : {{ player.user.first_name }}</li>
        <li>Last Name : {{ player.user.last_name }}</li>
        <li>Age : {{ player.age }}</li>
        <li>Email : {{ player.user.email }}</li>
        <li>League : {{ player.league }}</li>
        <li>Team : {{ player.team }}</li>
        <li>Position : {{ player.position }}</li>
        <li>About : {{ player.about }}</li>
    </ul>
{% endblock %}

{% block foot %}
{% if user.username == player.user.username %}
<a href="{% url 'layup:edit_player' player.user.username %}">Edit {{ player.user.username }}</a>
<br>
{% endif %}
{% endblock %}

