{% extends 'layup/form_base.html' %}
{% load add_css %}

{% block title %} - Register{% endblock %}

{% block body %}
    {% if registered %}
    <strong>Thank you for registering <a href="{% url 'layup:login' %}">login here</a></strong>
    <strong>return to the <a href="{% url 'layup:index' %}">homepage here</a></strong>
    {% else %}
    <form class="form-signin" role="form" id="player_form" method="post" action={% url 'layup:register' %}>
        <h2 class="form-signin-heading">Register for Layup</h2>
        {% csrf_token %}
        {% for field in user_form %}
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field|addcss:"form-control" }}
        <br>
        {% endfor %}
        {% for field in player_form %}
        {{ field.label_tag }}
        {{ field.errors }}
        {{ field|addcss:"form-control" }}
        <br>
        {% endfor %}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
    </form>
    {% endif %}
{% endblock %}
